/.JoveNotesDescriptionLabelProvider.java._trace
/.JoveNotesDescriptionLabelProvider.xtendbin
/.JoveNotesLabelProvider.java._trace
/.JoveNotesLabelProvider.xtendbin
/JoveNotesDescriptionLabelProvider.java
/JoveNotesLabelProvider.java
